<div class="m-auto text-center pt-3" >
    <h1>Moves List!</h1>
    <div class="container mt-5">
        <table mdbTable #tableEl="mdbTable" class="z-depth-1">
          <thead>
          <tr>
            <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let el of elements; let i = index" class="pointer" (click)="openMoveDetails(el.move.url, i + 1)" >
            <th *ngIf="isShow(i)" scope="row" >{{i + 1}}</th>
            <td *ngIf="isShow(i)">{{el.move.name}}</td>
            <td *ngIf="isShow(i)">{{el.move.url}}</td>
          </tr>
          </tbody>
          <tfoot class="grey lighten-5 w-100">
          <tr>
            <td colspan="4">
              <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
</div>
<router-outlet></router-outlet>